build/
dist/
nbproject/private/
*.mod
*.d
.*.swp
*.o
src/tests/*driver.f90
subprojects/zofu/
fson/.vs/config/applicationhost.config
fson/.vs/fson/v15/.suo
fson/fson.sln
fson/fson.u2d
fson/fson.vfproj
fson/fson_test.f90
fson/fson_test2.f90
fson/fson_test2_zofu.f90
fson/fson_test_zofu.f90
fson/x64/
src/examples/example3.f90
fson/test3.json
fson/test2.json
fson/test1.json
fson/test4_comment.json
